*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

header{
    background-color: #FFF8F3;
    padding:  0;
    padding-top: 50px;
    background: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

nav{
    
    width: 65% ;
    max-width:1140px ;
   
    margin: 0px auto ;
    display: flex ;
    justify-content: space-between;

}

.logo h2{
    font-size: 45px;
    font-weight: 700;
    align-items: center;
}

.color-orange{
    color: #FD6E0A;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 51px;
    font-size: 18px;
    font-weight: 600;
    color: #474747;

}

.menu li a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

.btn{
    width: 150px;
    height: 65px;
    color: #FFF8F3;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    border-color: none;
    padding: 18px 35px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
}


#banner{
    
    display: flex;
    margin: 47px 38px 0px 230px;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content{
    max-width: 585px;
}

#banner .banner-content h2{
   
   font-size: 45px;
   font-weight: 600;
   color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1{
    font-size: 85px;
    color: black;
    margin-bottom: 20px;
    line-height: 1.5;
    max-width: 540px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #474747 ;
    margin-bottom: 30px;
    line-height: 30px;
}

#banner .banner-image{
    vertical-align: middle;
}